*.iml
.gradle
local.properties/
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
local.properties
*.iml
*.ipr
*.iws
/.idea/*
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.gradle
**/build/
gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache
.gradle/
build/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof